In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

## Step 1 - Load Data

In [5]:
dataframe = pd.read_csv('housing_prices.csv')
dataframe = dataframe.drop(['index','price','sq_price'],axis=1)

dataframe = dataframe[0:10]
dataframe

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

## Step 2 - Add Labels

In [14]:
dataframe.loc[:,('y1')] = [1, 1, 1, 0, 0, 1, 0, 1, 1, 1] #Adding column
dataframe.loc[:,('y2')] = dataframe['y1'] == 0 #y2 is opposite of y1
dataframe.loc[:,('y2')] = dataframe['y2'].astype(int) #Convert y2 to int instead of boolean

In [16]:
dataframe.head()

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1

## Step 3 - Prepare data for TensorFlow

In [21]:
inputX = dataframe.loc[:,['area','bathrooms']].as_matrix()
inputY = dataframe.loc[:,['y1','y2']].as_matrix()

## Step 4 - Hyperparameters

In [25]:
learning_rate = 0.000001
training_epochs = 2000

display_step = 50
n_samples = inputY.size

## Step 5 - Create computation graph

In [54]:
x = tf.placeholder(dtype=tf.float32,shape=[None,2])
y_ = tf.placeholder(dtype=tf.float32,shape=[None,2])

W = tf.Variable(tf.zeros([2,2]))
b = tf.Variable(tf.zeros([2]))

y_values = tf.add(tf.matmul(x,W),b)

y = tf.nn.softmax(y_values)

## Step 6 - Perform training

In [55]:
cost = tf.reduce_sum(tf.pow(y_ -y,2))/(2*n_samples)

optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [56]:
init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)

Training loop

In [57]:
for i in range(training_epochs):
    sess.run(optimizer,feed_dict={x:inputX,y_:inputY})
    
    if(i % display_step == 0):
        cc = sess.run(cost,feed_dict={x:inputX,y_:inputY})
        print('Training step: %d - Cost: %.2f' %(i,cc))
        

print('\nTraining finished')
cc = sess.run(cost,feed_dict={x:inputX,y_:inputY})
print('Training step: %d - Cost: %.2f' %(i,cc))
print('W:\n%s' % sess.run(W))
print('b:\n%s' % sess.run(b))

Training step: 0 - Cost: 0.11
Training step: 50 - Cost: 0.11
Training step: 100 - Cost: 0.11
Training step: 150 - Cost: 0.11
Training step: 200 - Cost: 0.11
Training step: 250 - Cost: 0.11
Training step: 300 - Cost: 0.11
Training step: 350 - Cost: 0.11
Training step: 400 - Cost: 0.11
Training step: 450 - Cost: 0.11
Training step: 500 - Cost: 0.11
Training step: 550 - Cost: 0.11
Training step: 600 - Cost: 0.11
Training step: 650 - Cost: 0.11
Training step: 700 - Cost: 0.11
Training step: 750 - Cost: 0.11
Training step: 800 - Cost: 0.11
Training step: 850 - Cost: 0.11
Training step: 900 - Cost: 0.11
Training step: 950 - Cost: 0.11
Training step: 1000 - Cost: 0.11
Training step: 1050 - Cost: 0.11
Training step: 1100 - Cost: 0.11
Training step: 1150 - Cost: 0.11
Training step: 1200 - Cost: 0.11
Training step: 1250 - Cost: 0.11
Training step: 1300 - Cost: 0.11
Training step: 1350 - Cost: 0.11
Training step: 1400 - Cost: 0.11
Training step: 1450 - Cost: 0.11
Training step: 1500 - Cost: 0.11
Training step: 1550 - Cost: 0.11
Training step: 1600 - Cost: 0.11
Training step: 1650 - Cost: 0.11
Training step: 1700 - Cost: 0.11
Training step: 1750 - Cost: 0.11
Training step: 1800 - Cost: 0.11
Training step: 1850 - Cost: 0.11
Training step: 1900 - Cost: 0.11
Training step: 1950 - Cost: 0.11

Training finished
Training step: 1999 - Cost: 0.11
W:
[[  2.14149564e-04  -2.14149914e-04]
 [  5.12748193e-05  -5.12747974e-05]]
b:
[  1.19155184e-05  -1.19155284e-05]

## Making predictions

In [59]:
pred = sess.run(y,feed_dict={x:inputX})
pred

array([[ 0.71125221,  0.28874779],
       [ 0.66498977,  0.33501023],
       [ 0.73657656,  0.26342347],
       [ 0.64718789,  0.35281211],
       [ 0.78335613,  0.2166439 ],
       [ 0.70069474,  0.29930523],
       [ 0.65866327,  0.34133676],
       [ 0.64828628,  0.35171372],
       [ 0.64368278,  0.35631716],
       [ 0.65480113,  0.3451989 ]], dtype=float32)